<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      h1{
        color:red;
      }
      table, th, td {
    border: 1px solid green;
    border-collapse:collapse;
    }
      tr:nth-of-type(even){
        background:yellow;
      }
      tr:nth-of-type(odd){
        background:grey;
      }


    </style>
  </head>
  <body>
    <h1>hello world created by gvk</h1>
    <h2>features by gvk in world</h2>
    <table border:solid green 2px>
      <thead>
        <th>name</th>
        <th>age</th>
        <th>country</th></thead>
     <tr>
       <td>dmart</td>
        <td>10</td>
         <td>india</td></tr>
         <tr>
           <td>hathway</td>
            <td>25</td>
             <td>usa</td></tr>
             <tr>
               <td>birla</td>
                <td>10</td>
                 <td>uk</td></tr></table>

  </body>
</html>
